#myCanvas {
	border: 1px solid black;
	border-style: solid;
	background-color: gray;
	position: fixed;
	left: 50px;
}

body,
html {
  position: fixed;
}



#controlButtons {
	position: relative;
	left: 55px;
	top: 2px;
}

