#myCanvas {
	border: 1px solid black;
	border-style: solid;
	background-color: gray;
	position: relative;
	left: 50px;
}

@media (max-width: 576px) {
	#myCanvas {
		height: 100%;
		overflow: hidden;
		width: 100%;
		left: 350px;
		touch-action: none;
		position: fixed;
	}
	
	html*
	{
		height: 100%;
		overflow: hidden;
		width: 100%;
		left: 350px;
		touch-action: none;
		position: fixed;
	}
	
	
}

#controlButtons {
	position: relative;
	left: 55px;
	top: 2px;
}
