#myCanvas {
	border: 1px solid black;
	border-style: solid;
	background-color: gray;
	position: relative;
	left: 50px;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}

@media (max-width: 576px) {
	#myCanvas {
		height: 100%;
		overflow: hidden;
		width: 100%;
		left: 350px;
		touch-action: none;
	
	}
	
}

#controlButtons {
	position: relative;
	left: 55px;
	top: 2px;
}
